@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap');

/* VARIABLES */

:root{
    /* FONT-SIZES */
    --text-xl: 3.6rem;
    --text-l: 3rem;
    --text-m: 2.4rem;
    --text-s: 2rem;
    --text-base: 1.6rem;

    /* COLORS */
    --color-background: #E7E7E7;
    --color-background-dark: #808080;
    --color-primary: #014776;
    --color-alternative: #01C5CE;
    --color-red: #AF173B;
    --color-green: #54CF76;
}

/* NORMALIZE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--color-primary);
}
  
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    --bs-link-color: ;
    --bs-link-hover-color: ;
}

.alert-title {
    font-family: 'Alfa Slab One', cursive;
    color: var(--color-alternative);
    font-size: var(--text-l);
}

.alert-text {
    color: var(--color-primary);
    font-size: var(--text-s);
}

.alert-btn {
    font-size: var(--text-s);
}

/* HEADER */

#header {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 6rem;
    width: 100%;
    background: #014776c0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .navbar {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

#header .navbar img {
    margin-left: 2rem;
    height: 4rem;
    transition: .5s ease;
}

#header .navbar img:hover {
    transform: scale(1.1);
}

#header .navbar .nav-link__btn {
    background: transparent;
    border: none;
    padding: 1rem 1.5rem;
    color: var(--color-alternative);
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    font-size: var(--text-m);
    margin: 0 2rem;
}
  
#header .navbar .nav-link__btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 0;
    background-color: var(--color-alternative);
    transition: .5s ease;
}
  
#header .navbar .nav-link__btn:hover {
    color: var(--color-primary);
    transition-delay: .5s;
}
  
#header .navbar .nav-link__btn:hover::before {
    width: 100%;
}
  
#header .navbar .nav-link__btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-alternative);
    transition: .4s ease;
    z-index: -1;
}
  
#header .navbar .nav-link__btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: var(--color-primary);
}

/* MAIN CONTENT BACKGROUND */

.main-content__background {
    background-image: url('../img/backgroundBanner1.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* BANNER */

.main-content .main-content__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 6rem;
}

.main-content .main-content__banner img {
   animation: effects .1s ease infinite;
}
@keyframes effects {
    0% { filter: brightness(90%) blur(1px);}
    100% { filter: brightness(100%) blur(0)}
}

.main-content .main-content__banner .banner__btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.main-content__banner button {
    font-size: var(--text-s);
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--color-primary);
    background: linear-gradient(to right, rgba(1, 197, 206, 0.1) 1%, transparent 40%,transparent 60% , rgba(1, 197, 206, 0.1) 100%);
    box-shadow: inset 0 0 10px rgba(1, 197, 206, 0.4), 0 0 9px 3px rgba(1, 197, 206, 0.1);
    color: var(--color-primary);
}

.main-content__banner button:hover {
    color: var(--color-alternative);
    border: 2px solid var(--color-alternative);
    box-shadow: inset 0 0 10px rgba(1, 197, 206, 0.6), 0 0 9px 3px rgba(1, 197, 206, 0.2);
}
   
.main-content__banner button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(1, 197, 206, 0.1) 40%,rgba(1, 197, 206, 0.1) 60% , transparent 100%);
}
   
.main-content__banner button:hover:before {
    transform: translateX(15em);
}

/* DEFAULT PLANS */

.main-content__cards {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.main-content__cards .card {
    padding: 0;
    margin: 0 1rem;
    width: 30rem;
    max-width: 94vw;
    border: 2px solid var(--color-alternative);
    background: var(--color-background);
    color: var(--color-primary);
}

.main-content__cards .card img {
    height: 16rem;
    object-fit: cover;
}

.main-content__cards .card .card-body .card-title {
    font-size: var(--text-l);
}

.main-content__cards .card .card-body .card-text {
    font-size: var(--text-s);
    margin-bottom: 0.5rem;
}

.main-content__cards .card .card-body .card-item {
    font-size: var(--text-base);
    margin-left: 3rem;
}

.main-content__cards .card .card-body .clarification {
    color: gray;
    font-weight: normal;
}

.main-content__cards .card .card-body .tp {
    color: var(--color-green);
    font-weight: 600;
}

.main-content__cards .card .card-body .sl {
    color: var(--color-red);
    font-size: var(--text-base);
}

.main-content__cards .card .card-body .btn {
    font-size: var(--text-s);
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--color-alternative);
    background: linear-gradient(to right, rgba(1, 71, 118, 0.1) 1%, transparent 40%,transparent 60% , rgba(1, 71, 118, 0.1) 100%);
    box-shadow: inset 0 0 10px rgba(1, 71, 118, 0.4), 0 0 9px 3px rgba(1, 71, 118, 0.1);
    color: var(--color-alternative);
}

.main-content__cards .card .card-body .btn:hover {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    box-shadow: inset 0 0 10px rgba(1, 71, 118, 0.6), 0 0 9px 3px rgba(1, 71, 118, 0.2);
}

.main-content__cards .card .card-body .btn:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(1, 71, 118, 0.1) 40%,rgba(1, 71, 118, 0.1) 60% , transparent 100%);
}
   
.main-content__cards .card .card-body .btn:hover:before {
    transform: translateX(30em);
}

/* CUSTOM PLAN */

.main-content__cards {
    display: flex;
    flex-direction: column;
}

.main-content__cards .custom-card {
    width: 40rem;
}

.main-content__cards .custom-card .card-body #customForm .div-asset {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.main-content__cards .custom-card .card-body #customForm .div-asset .input-asset {
    width: 8rem;
}

.main-content__cards .custom-card .card-body .clarification--block {
    display: block;
}

.main-content__cards .custom-card .card-body .card-alert {
    color: var(--color-red);
    font-size: var(--text-s);
}

.main-content__cards--row {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    gap: 1rem;
    justify-content:center;
    align-items: center;
}

/* LOGIN FORM */

.main-content__login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__login .main-content__form {
    width: 90%;
    max-width: 60rem;
}

.main-content__login .main-content__form form {
    margin: auto;
    position: relative;
}

.main-content__login .main-content__form form .form__write{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 0;
    margin: 3rem 0 1rem;
}

.main-content__login .main-content__form form .form__write .form-floating .contact__box {
    margin-bottom: 2rem;
    height: 7rem;
    background: var(--color-background);
    color: var(--color-primary);
    font-size: 1.6em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
    border: none;
    border-bottom: 0.2rem solid var(--color-alternative);
}

.main-content__login .main-content__form form .form__write .form-floating label {
    color: var(--color-primary);
    font-size: 1.6em;
    text-align: left;
    line-height: 1em;
    padding: 1rem; 
}

.main-content__login .main-content__form form .form__write .form-floating .form-control:focus {
    box-shadow: 0 0 1rem 0.2rem var(--color-alternative); 
}

.main-content__login .main-content__form form .form-check {
    display: flex; 
}
     
.main-content__login .main-content__form form .form-check .form-check-input {
    height: 1.6rem;
    min-height: 1rem;
    width: 1.6rem;
    min-width: 1rem;
}

.main-content__login .main-content__form form .form-answer {
    color: var(--color-background);
    text-decoration: underline;
    font-size: var(--text-base);
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 18rem;
}

.main-content__login .main-content__form form .form-answer:hover {
    color: var(--color-alternative);
}

.main-content__login .main-content__form form .form-check .form-check-input:checked {
    background-color: var(--color-alternative);
    border-color: var(--color-alternative); 
}
       
.main-content__login .main-content__form form .form-check .form-check-input:checked {
    background-color: var(--color-alternative);
    border-color: var(--color-alternative); 
}    
     
.main-content__login .main-content__form form .form-check .form__textcheckbox {
    color: var(--color-background);
    font-size: 1.4em;
    text-align: left;
    line-height: 1em;
    line-height: 1.5em;
    padding-left: 1rem;
    margin-bottom: 2rem; 
}

.main-content__login .main-content__form form .form-check .form__textcheckbox strong {
    text-decoration: underline;
}
     
.main-content__login  .main-content__form form .form__btn {
    height: 5rem;
    width: 100%;
    color: var(--color-background);
    font-size: 1.6em;
    text-align: center;
    line-height: 1em;
    font-weight: bold; 
}

.main-content__login  .main-content__form form .form__line {
    width: 100%;
    border-bottom: 0.2rem solid var(--color-primary);
    margin: 3rem 0;
}

.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 3rem; 
}

.btn-primary {
    --bs-btn-color: var(--color-background);
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-color: var(--color-background);
    --bs-btn-hover-bg: var(--color-alternative);
    --bs-btn-hover-border-color: var(--color-alternative);
    --bs-btn-active-color: var(--color-background);
    --bs-btn-active-bg: var(--color-alternative);
    --bs-btn-active-border-color: var(--color-alternative);
    --bs-btn-active-shadow: inset 0 3px 5px var(--color-alternative);
    --bs-btn-disabled-color: var(--color-background);
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
}

.main-content__login .main-content__form form .form-reg-dis {
    cursor: no-drop;
    opacity: 0.5;
}

.main-content__login .main-content__form form .form-reg-act {
    cursor: pointer;
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .main-content .main-content__banner {
        width: 100vw;
        padding-top: 3rem;
    }

    .main-content .main-content__banner img {
        width: 94vw;
        margin: 0 auto;
    }

    .row {
        justify-content: center;
        align-items: center;
    }

    .main-content__cards .card {
        margin: 1rem;
        justify-self: center;
    }
}

@media screen and (max-width: 767px) {
    .main-content .main-content__banner .banner__btns{
        flex-direction: column;
        gap: 2rem;
        margin: 2rem;
    }

    .main-content__banner button {
        width: 86vw;
    }
}

@media screen and (max-width: 575px) {
    #header {
        height: 4rem;
    }
    
    #header .navbar img {
        margin-left: 2rem;
        height: 3rem;
    }
    
    #header .navbar .nav-link__btn {
        padding: 0.4rem 1rem;
        font-size: var(--text-s);
    }

    .main-content__banner button {
        font-size: var(--text-base);
        letter-spacing: 0;
    }

    .main-content__cards .card img {
        height: 12rem;
    }

    .main-content__cards .card .card-body .card-title {
        font-size: var(--text-m);
    }

    .main-content__cards .card .card-body .card-text {
        font-size: var(--text-base);
    }

    .main-content__cards .card .card-body .card-item {
        font-size: var(--text-xs);
        margin-left: 2rem;
    }

    .main-content__cards .card .card-body .sl {
        font-size: var(--text-xs);
    }

    .main-content__cards .card .card-body .btn {
        font-size: var(--text-base);
        padding: 0.7rem;
    }

    .main-content__cards--row {
        margin: 0;
    }

    .main-content__login .main-content__form form .form__write .form-floating .contact__box {
        height: 5rem;
    }

    .main-content__login .main-content__form form .form-answer {
        font-size: var(--text-xs);
        bottom: 18.5rem;
    }
}

















